/*Dark-mode :)*/
.dark-modeBody{
    background-color: black;
    color: white;
}

.dark-modeBorder{
    border-color: darkgray !important;
}
/*Dark-mode :) vége*/


/*Egész body-ra vonatkozó beállítások*/
body{
    font-family: Arial, Helvetica, sans-serif;
}

.navbar{
    text-align: center;
}
/*Egész body vége*/


/*Navbar formázása*/
#brightnessSelector{
    max-width: 60px;
    max-height: 60px;
}


/*Első doboz specifikus!!! Navbar miatt kell*/
div.elsoDoboz{
    margin-top: 90px;
    border: 3px solid black;
    border-radius: 10px;
    max-width: 60%;
    float: left;
    margin-left: 25px;
}

div.elsoDoboz div.kep img.rounded{
    max-width: 40%;
    float: left;
    max-height: 6%;
}

div.elsoDoboz div.szoveg{
    float: right;
    max-width: 59%;
    text-align: justify;
    font-size: large;
}
/*Első doboz vége*/

/*Bal oldali dobozok*/
div.dobozBal{
    border: 3px solid black;
    border-radius: 10px;
    max-width: 60%;
    float: left;
    margin-top: 20px;
    margin-left: 25px;
}

div.dobozBal div.kep img.rounded{
    max-width: 40%;
    float: left;
    max-height: 6%;
}

div.dobozBal div.szoveg{
    float: right;
    max-width: 59%;
    text-align: justify;
    font-size: large;
}

div.dobozBal div.szoveg h3{
    text-align: center;
    padding-top: 5px;
}
/*Bal oldali dobozok vége*/

/*Jobb oldali dobozok*/
div.dobozJobb{
    border: 3px solid black;
    border-radius: 10px;
    max-width: 60%;
    float: right;
    margin-top: 20px;
    margin-right: 25px;
}

div.dobozJobb div.kep img.rounded{
    max-width: 40%;
    float: right;
    max-height: 6%;
}

div.dobozJobb div.szoveg{
    float: left;
    max-width: 59%;
    text-align: justify;
    font-size: large;
}

div.dobozJobb div.szoveg h3{
    text-align: center;
    padding-top: 5px;
}
/*Jobb oldali dobozok vége*/


/*Form element*/
form#hatodik{
    border: 3px solid black;
    border-radius: 10px;
    width: 60%;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

div#Form{
    justify-content: center;
}

form p#score{
    border: 3px dashed black;
    border-radius: 5px;
    max-width: 30%;
    padding-left: 3px;
    margin-left: 7px;
    margin-top: 7px;
    text-align: center;
}

img#hamsterMaster{
    max-width: 100px;
    max-height: 100px;
}

input{
    margin-bottom: 7px;
    margin-right: 5px;
}
/*Form element vége*/

/*Footer elem formázása*/
footer{
    border-top: 3px solid black;
    margin-top: 30px;
    width: 100%;
}

footer h3{
    text-decoration: underline;
    margin-left: 30px;
}

footer li{
    margin-left: 40px;
    list-style: disc outside url(kepek/szotyi2.png);
}
/*Footer elem formázása*/


/*Még meg nem tekintett link*/
footer li a:link{
    color: blue;
}

/*Már meglátogatott link*/
footer li a:visited{
    color: blueviolet;
}

/*Ha éppen az egér a link fölött van*/
footer li a:hover{
    color: tomato;
}